/* Container */

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container__informations {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    gap: 10px;
    min-height: 400px;
    margin-top: 20px;
}

.container__informations h1 {
    font-size: 36px;
    font-weight: 800;
}

.container__informations h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.container__informations p {
    font-size: 14px;
    font-weight: 400;
}

/* Section */

.section {
    padding: 15px;
}

.section:nth-child(odd) {
    background-color: #FFF;
    color:#1D1D1F;
}

.section:nth-child(even) {
    background-color: #F5F5F7;
}
/* Botão */

.button__link__nav {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 2px solid #2692ff;
    cursor: pointer;
}

.button__link {
    display: flex;
    width: 226px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 2px solid #2692ff;
    cursor: pointer;
}

.button__link:hover,
.button__link__nav:hover {
    background-color: #2692ff;
    color: #FFF;
}

/* Menu */

.header {
    display: flex;
    min-height: 66px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e4e4e4;
}

.nav {
    display: flex;
    min-height: 60px;
    align-items: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav__item a {
    font-size: 18px;
    font-weight: 600;
    color: #1D1D1F;
}

@media (max-width: 700px) {

    .nav__list {
        gap: 25px;
    }

    .nav__item a {
        font-size: 16px;
    }

    .linkedin__link {
        width: 96px;
    }
}

@media (max-width: 490px) {

    .nav__list {
        gap: 12px;
    }

    .nav__item a {
        font-size: 14px;
    }

    .linkedin__link {
        width: 96px;
    }
}

@media (max-width: 323px) {

    .linkedin__link {
        width: 76px;
    }

    .nav__item a {
        font-size: 12px;
    }
}


/* Section Home */

.home__figure {
    margin-bottom: 40px;
}

.home__figure img {
    max-width: 230px;
    border-radius: 150px;
}

/* Section About */

.about__figure {
    margin-top: 40px;
}

/* Cards */

.highlights {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.highlights h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
}

.cards {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    width: 48%;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #F5F5F7;
    color: #1D1D1F;
    transition: 0.2s;
}

.box:hover {
    scale: 1.02;
    background-color: #2692ff;
    color: #FFF;
}

.box__text {
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box__text img {
    max-width: 50px;
    margin-top: 10px;
}


.box h4 {
    font-size: 16px;
    font-weight: 600;
}


.box p {
    font-size: 14px;
    font-weight: 400;
}

@media (min-width: 696px) {

    .box {
        width: 32%;
    }

}

.skill__box {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 90px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    background-color: #FFF;
    color: #1D1D1F;
    cursor: pointer;
    transition: 0.2s;
}

.skill__box:hover {
    scale: 1.06;
}

@media (min-width: 500px) {

    .skill__box {
        width: 23%;
    }

}

@media (min-width: 960px) {

    .skill__box {
        width: 10%;
    }

}